<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org"
	  xmls:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<title>MatchLivros</title>
</head>
	<h1>Cadastro de Livros</h1>
	
	<form method="post">
		Nome do Livro:<input type="text" value="" name="nome">
		Descricao:<input type="text" value="" name="descricao">
		Ano de Lancamento:<input type="date" value="" name="anolancamento">
		Editora:<input type="text" value="" name="editora">
		<button type="submit">Salvar</button>
	</form>
	
</html>

